//************** GENERAL STUFF
html {
  background: url("/images/limes.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  @include media($mobile) {
    font-size: 12px;
  }
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#container {
  @include outer-container;
  margin: 0 auto;
}

//************** CONTENT

#content {
  @include span-columns($grid-columns);
  @include media($mobile) {
    margin-top: 0;
  }
  font-size: 2.2em;
  margin-top: 100px;

  .definition {
    @include span-columns($grid-columns/2);
  }
}

#footer {
  bottom: 10px;
  position: absolute;
}
